<div class="col-lg-12" ng-controller="HomeCtrl">
	<h1 class="page-header">
		Welcome Page <small>Overview</small>
	</h1>
	<div class="panel-body">
		<div class="media">
			<div class="media-left">
				<a href="#">
				<img class="media-object" src="https://angularjs.org/img/AngularJS-large.png" alt="Kurt">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><strong>Welcome!</strong></h4>
				This is a demonstration application designed for the WealthTab Team as part of a developer test.
				The goal is to create an AngularJs app that interracts with a node.js server in turns updating and requesting a local mongoDB server
				containing 2 collections (user and products). The API utilizes JSON Web Tokens to authenticate the user.
				<br>
				*<strong>Dev note</strong>: pardon the poor CSS color pallet.
				<br>
				<strong>Author</strong>: Erik Smith<br>
				<strong>Date</strong>: January 31, 2016<br>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
